<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Toilter{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static',
    filename="css/bootstrap.min.css") }}">
</head>
<body>
    <!--
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    {if current_user.is_authenticated %}
                        <li><a href="{{ url_for('logout') }}">Logout</button></a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Login</button></a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
-->

    <h3 class="text-muted">Toilter</h3>

    <!--Mensagens Flash-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-warning">
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    {% block content %}  <!-- CONTEÚDO DA PÁGINA -->
    {% endblock %}

    <footer class="footer">
        <p>&copy; Maber Dev 2020</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',
    filename="js/bootstrap.min.js") }}"></script>
</body>
</html>